<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
</head>
<body>
   
</body>
</html>
<html lang = "en">
   <head></head>
   <body>
      
      <h3>
         <a href = "{{ url_for('show_all') }}">Comments - Flask 
            SQLAlchemy example</a>
      </h3>
      
      <hr/>
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
		
      <h3>Students (<a href = "{{ url_for('contact') }}">Add Student
         </a>)</h3>
      
      <table>
         <thead>
            <tr>
               <th>name</th>
               <th>mobile</th>
               <th>email</th>
               <th>message</th>
            </tr>
         </thead>
         
         <tbody>
            {% for student in students %}
               <tr>
                  <td>{{ student.name }}</td>
                  <td>{{ student.mobile }}</td>
                  <td>{{ student.email }}</td>
                  <td>{{ student.message }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>